In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('processed_incident_details.csv')

In [3]:
data.shape

(13668, 15)

In [4]:
data.columns

Index(['area', 'city', 'state', 'country', 'latitude', 'longitude',
       'created_on', 'description', 'age', 'gender', 'incident_date',
       'time_from', 'time_to', 'categories', 'severity'],
      dtype='object')

In [8]:
data['gender'].value_counts()

gender
Female               7949
Male                 1232
Gender non-binary      89
Name: count, dtype: int64

In [9]:
data['gender'].fillna('Female', inplace=True)

In [10]:
data.head()

,area,city,state,country,latitude,longitude,created_on,description,age,gender,incident_date,time_from,time_to,categories,severity
0,Nehru Place,New Delhi,Delhi,India,28.551478,77.251543,2020-12-01 19:45:28,Sexual Invite : A man walked with me for 5 min...,0,Female,2012-12-25,01:50:00,00:00:00,Commenting/Sexual Invites,7
1,Block G,New Delhi,Delhi,India,28.568814,77.220565,2020-12-01 19:45:28,Sexual Invite : Late evening (around 7.30 pm) ...,0,Female,2012-12-26,01:56:00,00:00:00,Commenting/Sexual Invites,7
2,Ajmeri Gate,New Delhi,Delhi,India,28.641970,77.220600,2020-12-01 19:45:28,"Pitampura, Bus stand : Comments were passed wh...",0,Female,2012-12-26,17:57:00,00:00:00,Commenting/Sexual Invites,7
3,Kalkaji Extension,New Delhi,Delhi,India,28.542735,77.259194,2020-12-01 19:45:28,Retard commenting : I just stepped out of offi...,0,Female,2012-12-27,01:49:00,00:00:00,Commenting/Sexual Invites,7
4,Ajmeri Gate,New Delhi,Delhi,India,28.641970,77.220600,2020-12-01 19:45:28,New Delhi Railway Station Indecent comments : ...,0,Female,2009-06-15,11:07:00,00:00:00,Commenting/Sexual Invites,7

In [12]:
data.shape

(13668, 15)

In [13]:
data.to_csv('processed_incident_details.csv', index=False)